<html>
    <head>
        <title> Sample Backbone Blog </title>
    </head>
    <body>
        <div id="main"></div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js"></script>
            <script type="text/template" id="postView">
                <a href="/"> All Posts </a>
                <h1> {{title}} </h1>
                <p> {{pubDate}}</p>
                {{content}}
            </script>
            <script src="/app.js"></script>
            <script>
                // instantiate a router when the index is loaded
                //in the options, pass in the posts from the server
                //the main option is #main div (this could be anything)
                var postRouter = new PostRouter({
                    posts: new Posts(<%- posts %>),
                    main: $("#main")
                })

                Backbone.history.start({pushState: true});
            </script>
    </body>
</html>
